<h3>Buscar por región <small>{{ regionActiva | titlecase }}</small></h3>
<hr>
<div class="animate__animated animate__fadeIn animate__faster">
    <h5>Seleccione la región</h5>
    <div class="row">
        <div class="col">

            <!--[class.btn-primary]="reg === regionActiva"-->
            <!--[ngClass]="{
            'btn-primary': reg === regionActiva,
            'btn-outline-primary': reg !== regionActiva
        }"-->
            <button *ngFor="let reg of regiones" class="btn btn-outline-primary" style="margin-right:5px;"
                (click)="activarRegion(reg)">
                {{reg}}
            </button>
        </div>
    </div>
</div>
<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontró {{ paisBuscado }}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>